{{ define "title" }}Dashboard - TinyVM{{ end }}

{{ define "content" }}
<div class="content-header">
    <div class="content-header-title">
        <h1 class="content-title">Dashboard Overview</h1>
        <!-- <p class="content-subtitle">Host system metrics and virtual machine manager</p> -->
    </div>
</div>

<!-- Stats Grid -->
{{ template "stats-grid" . }}

<!-- Virtual Machines Section -->
<div class="content-header" style="margin-top: 2.25rem; margin-bottom: 1rem;">
    <h2 class="content-title" style="font-size: 1.1rem;">Virtual Machines</h2>
</div>

{{ template "vm-grid" . }}
{{ end }}
