{{ define "title" }}Virtual Machines - TinyVM{{ end }}

{{ define "content" }}
<div class="content-header">
    <div class="content-header-title">
        <h1 class="content-title">Virtual Machines</h1>
        <!-- <p class="content-subtitle">All configured virtual machine instances</p> -->
    </div>
    <div class="header-actions">
        <a href="/vms/new" class="btn btn-primary">
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
            <span>Create VM</span>
        </a>
    </div>
</div>

{{ template "vm-grid" . }}
{{ end }}
